@extends('layouts.home')
@section('content')
style(type='text/css').
	p{
		text-align: justify;
		color:#777;
	}
	.img {
	    width: 100%;
	    height: auto;
	    margin-top: 50px;
		vertical-align: middle;
	}

	.texto
	{
		color: #777;
	}

	body
	{
		background: #fff;
	}

	.imagenBanner{
	    width: 100%;
	    height: auto;
	    max-width: 100%;
	}

	.tituloBanner{
		font-family: 'Cantarell', sans-serif;
		color:#555;
	}
	
	.parrafoBanner{
		text-indent: 0.7em;
		text-align: justify;
	}

	@media (max-width: 600px) {
		.tituloBanner{
			font-family: 'Cantarell', sans-serif;
			text-align: center;
		}
		
		.parrafoBanner{
			text-indent: 0.7em;
			text-align: justify;
		}
	}

.section
	.row.container
		.col.s12.m12.l12
			.col.s12.m12.l1
				br
				i(aria-hidden="true").iconoBanner.fa.fa-level-down.fa-3x.blue-text
			.col.s12.m12.l11
				h5.tituloBanner Dedicado
				p.grey-text.parrafoBanner.
					Producto de Acceso Dedicado a Internet, atendiendo las necesidades de su Empresa, con los más altos estándares de capacidad, flexibilidad, confiabilidad, efectividad, seguridad y disponibilidad.
				.divider
				h6.tituloBanner.blue-text Características del producto:
				ul#lista2
					li
						| Transporte TDMA WIRELESS.
					li
						| Velocidad Simétrica de 1MB hasta 50MB.
					li
						| Servicios de tecnología de punta UBIQUITI.
					li
						| Calidad garantizada.
					li
						| Diseñado para usuarios, con  altos requerimientos de conexión a la Internet. 
					li
						| Incluye direcciones IP certificadas.

@endsection