@extends('layouts.home')
@section('content')
style(type='text/css').
	.parallax-container
		{
			height:350px;
		}
	.img-parallax1{
	    width: 100%;
	    height: auto;
	    max-width: 100%;
	}
	.titulo{
		font-size: 1.3em;
		text-shadow: 0px 1px 1px #444;
		text-align: center;
	}

	p{
		text-align: justify;
		color:#777;
	}

	.parallax-contenedor
	{
		height:100px;
	}

	.icono{
	  /*IMPORTANTE*/
	  display: flex;
	  justify-content: center;
	  align-items: center;
	}
	
	.imagenBanner{
	    width: 100%;
	    height: auto;
	    max-width: 100%;
	}

	.tituloBanner{
		font-family: 'Cantarell', sans-serif;
	}
	
	.parrafoBanner{
		line-height: 0px;
		text-indent: 0.7em;
	}

	@media (max-width: 600px) {
		.tituloBanner{
			font-family: 'Cantarell', sans-serif;
			text-align: center;
		}
		
		.parrafoBanner{
			line-height: 0px;
			text-indent: 0.7em;
			text-align: center;
		}
	}

	#particles {
	  width: 100%;
	  overflow: hidden;
	  position: absolute;
	}

.row
	.col.s12.m12.l6
		img(src="https://s-media-cache-ak0.pinimg.com/564x/ed/1c/09/ed1c09272f9f8c9b209389a4b5314294.jpg", alt="")
	.col.s12.m12.l6
		.col.s12.m12.l1
			br
			i(aria-hidden="true").iconoBanner.fa.fa-fighter-jet.fa-3x.blue-text
		.col.s12.m12.l11
			h4.tituloBanner Velocidad Garantizada
			p.grey-text.parrafoBanner.
				Navega y descargas a velocidades optimas
		.col.s12.m12.l1
			br
			i(aria-hidden="true").iconoBanner.fa.fa-cloud-download.fa-3x.blue-text
		.col.s12.m12.l11
			h4.tituloBanner Internet Ilimitado 
			p.grey-text.parrafoBanner.
				Descarga todo lo que desees sin limitaciones
		.col.s12.m12.l1
			br
			i(aria-hidden="true").iconoBanner.fa.fa-wifi.fa-3x.blue-text
		.col.s12.m12.l11
			h4.tituloBanner Intalación de Router
			p.grey-text.parrafoBanner.
				Da señal a todos tus dispositivos inalambricos
		.col.s12.m12.l1
			br
			i(aria-hidden="true").iconoBanner.fa.fa-credit-card-alt.fa-3x.blue-text
		.col.s12.m12.l11
			h4.tituloBanner Pagos Online
			p.grey-text.parrafoBanner.
				Registra tus pagos desde la comodidad de tu casa

.divider

.texto
	.row
		.col.s12.m12.l3
			br
			i.fa.fa-user.fa-2x.icono.blue-text
			.titulo INTERNET RESIDENCIAL
			.col.l10.offset-l1
				p.
					Acceso a Internet de Banda Ancha, dirigido al segmento de hogares, con acceso ilimitado a Internet
		.col.s12.m12.l3
			br
			i.fa.fa-briefcase.fa-2x.icono.blue-text
			.titulo NTERNET COMERCIAL
			.col.l10.offset-l1
				p.
					Acceso a Internet de Banda Ancha, dirigido al segmento de hogares, con acceso ilimitado a Internet
		.col.s12.m12.l3
			br
			i.fa.fa-cloud.fa-2x.icono.blue-text
			.titulo INTERNET RESIDENCIAL
			.col.l10.offset-l1
				p.
					Acceso a Internet de Banda Ancha, dirigido al segmento de hogares, con acceso ilimitado a Internet
		.col.s12.m12.l3
			br
			i.fa.fa-wifi.fa-2x.icono.blue-text
			.titulo INTERNET RESIDENCIAL
			.col.l10.offset-l1
				p.
					Acceso a Internet de Banda Ancha, dirigido al segmento de hogares, con acceso ilimitado a Internet

.section.grey.darken-4
	//#particles(style="z-index:1")
	.row.container
		.col.s12.m12.l3
			br
			.card(style="z-index:2")
				.card-image
					br
					br
					img(src='http://i582.photobucket.com/albums/ss266/otet_2009/Template/parabola-2.png')
				br
				.divider
				.card-content
					h6.blue-text NODOS CABLEMAS
					p.grey-text.
						Tecnología TDMA
		.col.s12.m12.l3
			br
			.card(style="z-index:3")
				.card-image
					br
					br
					img(src='http://www.freeiconspng.com/uploads/helpdesk-icon-33.png')
				br
				.divider
				.card-content
					h6.blue-text SOPORTE TECNICO
					p.grey-text.
						Personal Años Experiencia
		.col.s12.m12.l3
			br
			.card(style="z-index:4")
				.card-image
					br
					br
					img(src='http://img.clubic.com/01592870-photo-logo-telephone-fax.jpg')
				br
				.divider
				.card-content
					h6.blue-text TELEFONÍA IP
					p.grey-text.
						Para Punto Ventas
		.col.s12.m12.l3
			br
			.card(style="z-index:5")
				.card-image
					img(src='https://conceptdraw.com/a3179c3/p14/preview/640/pict--credit-cards-sales-symbols---vector-stencils-library.png--diagram-flowchart-example.png',style="height:295px;")
				.divider
				.card-content
					h6.blue-text PAGOS ONLINE
					p.grey-text.
						Fácil Y Sencillo

.texto
	.row
		.col.s12.m12.l12
			.col.s12.m12.l1
				br
				i(aria-hidden="true").iconoBanner.fa.fa-question-circle.fa-3x.blue-text
			.col.s12.m12.l6
				h4.tituloBanner Por qué elegirnos? 
				p(style="text-indent:0.7em;").grey-text.
					 Somos la primera Empresa Integradora de Telecomunicaciones en Venezuela en ofrecer Servicios de Internet Inalámbrico en la Barinas, con capital 100% Nacional, focalizado al mercado Residencial, Comercial y Empresarial, ofrecemos velocidades de acceso a Internet, según los requerimientos del cliente, en cualquier lugar, gracias a la utilización de tecnologías de última generación.

					Contamos con un equipo altamente capacitado para ofrecer un buen servicio en atención y rapidez, logrando ser una compañía que se adapte a las necesidades del consumidor.
			.col.s12.m12.l3.offset-l1
				img(src="http://3.bp.blogspot.com/-YFPIfvj7h0M/U6OD1EglnOI/AAAAAAAACdY/VEqw1DlqTy4/s1600/technology44-743413.png" style="height:300px;position:absolute;z-index:-1;", alt="")

script(type="text/javascript").
	$(document).ready(function(){
	particleground(document.getElementById('particles'), {
	dotColor: '#555',
	lineColor: '#444'
	});
	});
@endsection
