@extends('layouts.home')

@section('content')
.card-panel
	h1 lorem
	.divider
	p.
		 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad inventore fugiat hic mollitia eligendi delectus autem voluptatum pariatur, nisi dolores dolore vero earum deleniti eum maiores quasi iure quae perferendis?
@endsection
