@extends('layouts.home')
@section('content')
style(type='text/css').
	p{
		text-align: justify;
		color:#777;
	}
	.img {
	    width: 100%;
	    height: auto;
	}

	.texto
	{
		color: #777;
	}

	body
	{
		background: #fff;
	}

.texto
	.section
		.row.container
			.col.s12.m12.l6
				h4.blue-text Quienes somos?
				.divider
				p.
					Cablemas, Fundada en el año 2013 es la primera Empresa Integradora de Telecomunicaciones en Venezuela en ofrecer Servicios de Internet Inalámbrico en la Región los Andes y Centroccidental del País, con capital 100% Nacional, focalizado al mercado Residencial, PYMES y Empresarial, ofrecemos velocidades de acceso a Internet, según los requerimientos del cliente, en cualquier lugar, gracias a la utilización de tecnologías de última generación.
			.col.s12.m12.l6
				br
				img.img(src="http://www.cablemas.com.ve/wp-content/uploads/LogoCablemas-768x193.jpg", alt="", width=400)
			.divider
			.col.s12.m12.l12
				h5.blue-text Visión
				.divider
				p.
					Ser reconocidos como el proveedor preferido de servicios y soluciones de Telecomunicaciones en Venezuela, por medio de la adopción de tecnologías de ultima generación

				h5.blue-text Misión
				.divider
				p.
					Proveer servicios de Telecomunicaciones más rápidos, más confiables, con la mejor relación precio-valor del mercado, con los mejores tiempos de respuestas y que puedan llegar a cualquier lugar, con el uso de las últimas tecnologías en telecomunicaciones.
				h5.blue-text Oportunidades
				.divider
				ul
					li *Crecimiento en la demanda de servicios.
					li *Diversificación de servicios IP.
					li *Zonas desatendidas.
					li *Bajo nivel técnico/conocimiento y demoras en soporte de la competencia.
					li *Producto / Servicio Innovador.
					li *Saturación de la infraestructura actual de la competencia.
					li *Revolución Inalámbrica en el mercado.
	.parallax-container
		.parallax
			img(src='https://curiosoando.com/wp-content/uploads/2014/06/server_room.jpg')

@endsection