@extends('layouts.admin')
style(type='text/css').
	p{
		text-align: justify;
		color:#777;
	}
	.img {
	    width: 100%;
	    height: auto;
	    margin-top: 50px;
		vertical-align: middle;
	}

	.texto
	{
		color: #777;
	}

	.titulo
	{
		font-family: 'Anton', sans-serif;letter-spacing: 0.2em;
	}

@section('content')
.container
	br
	.card-panel
		.row
			.col.l12.s12
				h5.teal-text.center.animated.pulse.titulo.green-text Admin
		.divider
		.row
			.col.s12
				p.
					 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos obcaecati magni consequuntur esse, voluptate error vero temporibus inventore voluptatem molestiae? Quam soluta sint illum, unde et. Animi saepe, esse omnis.
@endsection
